
eval/pose_estimation_3d_nemo_aeroplane/logs/log_20231018_142343.txt
eval/pose_estimation_3d_nemo_aeroplane/logs/log_20231018_142423.txt
eval/pose_estimation_3d_nemo_aeroplane/omni_nemo_pose_3d.yaml
eval/pose_estimation_3d_nemo_aeroplane/pascal3d_occ0_aeroplane_val.pth
eval/pose_estimation_3d_nemo_bicycle/inference.py
eval/pose_estimation_3d_nemo_bicycle/logs/log_20231018_142302.txt
eval/pose_estimation_3d_nemo_bicycle/logs/log_20231018_142310.txt
eval/pose_estimation_3d_nemo_bicycle/omni_nemo_pose_3d.yaml
eval/pose_estimation_3d_nemo_bicycle/pascal3d_occ0_bicycle_val.pth
eval/pose_estimation_3d_nemo_boat/inference.py
eval/pose_estimation_3d_nemo_boat/logs/log_20231018_142804.txt
eval/pose_estimation_3d_nemo_boat/omni_nemo_pose_3d.yaml
eval/pose_estimation_3d_nemo_boat/pascal3d_occ0_boat_val.pth
eval/pose_estimation_3d_nemo_bus/inference.py
eval/pose_estimation_3d_nemo_bus/logs/log_20231018_142224.txt
eval/pose_estimation_3d_nemo_bus/omni_nemo_pose_3d.yaml
eval/pose_estimation_3d_nemo_bus/pascal3d_occ0_bus_val.pth
eval/pose_estimation_3d_nemo_car/inference.py
eval/pose_estimation_3d_nemo_car/logs/log_20231018_141656.txt
eval/pose_estimation_3d_nemo_car/logs/log_20231018_142008.txt
eval/pose_estimation_3d_nemo_car/logs/log_20231018_142031.txt
eval/pose_estimation_3d_nemo_car/logs/log_20231018_142133.txt
eval/pose_estimation_3d_nemo_car/omni_nemo_pose_3d.yaml
eval/pose_estimation_3d_nemo_car/pascal3d_occ0_car_val.pth
eval/pose_estimation_3d_voge_aeroplane/inference.py
eval/pose_estimation_3d_voge_aeroplane/logs/log_20231018_144034.txt
eval/pose_estimation_3d_voge_aeroplane/omni_voge_pose_3d.yaml
eval/pose_estimation_3d_voge_aeroplane/pascal3d_occ0_aeroplane_val.pth
eval/pose_estimation_3d_voge_bicycle/inference.py
eval/pose_estimation_3d_voge_bicycle/logs/log_20231018_144102.txt
eval/pose_estimation_3d_voge_bicycle/omni_voge_pose_3d.yaml
eval/load_pred.py
eval/pose_estimation_3d_voge_bicycle/pascal3d_occ0_bicycle_val.pth
eval/pose_estimation_3d_voge_boat/inference.py
eval/pose_estimation_3d_voge_boat/logs/log_20231018_144125.txt
eval/pose_estimation_3d_voge_boat/omni_voge_pose_3d.yaml
eval/pose_estimation_3d_voge_boat/pascal3d_occ0_boat_val.pth
eval/pose_estimation_3d_voge_bus/inference.py
eval/pose_estimation_3d_voge_bus/logs/log_20231018_155004.txt
eval/pose_estimation_3d_voge_bus/omni_voge_pose_3d.yaml
eval/pose_estimation_3d_voge_bus/pascal3d_occ0_bus_val.pth
eval/pose_estimation_3d_voge_car/inference.py
eval/pose_estimation_3d_voge_car/logs/log_20231018_143955.txt
eval/pose_estimation_3d_voge_car/omni_voge_pose_3d.yaml
eval/pose_estimation_3d_voge_car/pascal3d_occ0_car_val.pth
